.photoGrid1{
    /* position: relative; */
    display: grid;
    grid-template-rows: repeat(4, 3fr);
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "firstMain firstMain firstMain firstMain firstMain firstMain firstMain firstMain firstMain firstMain firstMain firstMain" 
    "first1 first1 first1 first2 first2 first2 first3 first3 first3 first4 first4 first4"
    "first5 first5 first5 first5 first5 first5 first6 first6 first6 first6 first6 first6"
    "first7 first7 first7 first7 first8 first8 first8 first8 first9 first9 first9 first9";
    /* width: 100vh; */
    height: 294vh;
}

.firstSetMain{
    background-image: url("../assets/automotive/DSC00292.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: firstMain;
    background-position-y: center;
    background-position-x: center;
}

.first1{
    background-image: url("../assets/automotive/DSC00237.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: first1;
    background-position-y: center;
    background-position-x: center;
}

.first2{
    background-image: url("../assets/automotive/DSC00243.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: first2;
    background-position-y: center;
    background-position-x: center;
}

.first3{
    background-image: url("../assets/automotive/DSC00352.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: first3;
    background-position-y: center;
    background-position-x: center;
}


.first4{
    background-image: url("../assets/automotive/DSC00280-Edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: first4;
    background-position-y: center;
    background-position-x: center;
}

.first5{
    background-image: url("../assets/automotive/DSC00600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: first5;
    background-position-x: center;
}

.first6{
    background-image: url("../assets/automotive/DSC00583.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: first6;
    background-position-x: center;
}

.first7{
    background-image: url("../assets/automotive/DSC00296.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: first7;
    background-position-y: center;
}

.first8{
    background-image: url("../assets/automotive/DSC00320.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: first8;
    background-position-y: center;
}

.first9{
    background-image: url("../assets/automotive/DSC00509.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: first9;
    /* background-position-y: top; */
}

.photoGrid1-2{
    /* position: relative; */
    display: grid;
    grid-template-rows: repeat(4, 3fr);
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "secondMain secondMain secondMain secondMain secondMain secondMain secondMain secondMain secondMain secondMain secondMain secondMain" 
    "second7 second7 second7 second7 second8 second8 second8 second8 second9 second9 second9 second9"
    "second1 second1 second1 second2 second2 second2 second3 second3 second3 second3 second3 second3"
    /* "second5 second5 second5 second5 second5 second5 second6 second6 second6 second6 second6 second6";  */
    "second5 second5 second5 second5 second6 second6 second6 second6 second6 second6 second6 second6"; 
    /* width: 100vh; */
    height: 294vh;
}

.secondSetMain{
    background-image: url("../assets/automotive/DSC00973.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: secondMain;
    background-position-y: -155px;
}

.second1{
    background-image: url("../assets/automotive/ghost1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: second1;
}

.second2{
    background-image: url("../assets/automotive/DSC00846.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: second2;
    background-position-x: right;
}

.second3{
    background-image: url("../assets/automotive/DSC00959.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: top; */
    grid-area: second3;
    background-position-x: center;
}
/* 
.second4{
    background-image: url("../assets/automotive/DSC00852.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    grid-area: second4;
} */

.second5{
    background-image: url("../assets/automotive/ghost2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: second5;
    background-position-y: center;
}

.second6{
    background-image: url("../assets/automotive/DSC00895.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: second6;
    background-position-y: center;
}

.second7{
    background-image: url("../assets/automotive/DSC00898.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: second7;
    background-position-y: center;
}

.second8{
    background-image: url("../assets/automotive/ghost3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: second8;
    background-position-y: center;
}
.second9{
    background-image: url("../assets/automotive/DSC00900.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: second9;
    background-position-y: center;
}



.photoGrid1-3{
    /* position: relative; */
    display: grid;
    grid-template-rows: repeat(4, 3fr);
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "thirdMain thirdMain thirdMain thirdMain thirdMain thirdMain thirdMain thirdMain thirdMain thirdMain thirdMain thirdMain" 
    "third7 third7 third7 third7 third8 third8 third8 third8 third9 third9 third9 third9"
    "third1 third1 third1 third3 third3 third3 third3 third3 third3 third2 third2 third2"
    "third5 third5 third5 third5 third6 third6 third6 third6 third4 third4 third4 third4"; 
    /* width: 100vh; */
    height: 294vh;
}

.thirdSetMain{
    background-image: url("../assets/automotive/DSC00235.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: thirdMain;
    background-position-y: center;
    background-position-x: center;
}

.third1{
    background-image: url("../assets/automotive/DSC00144.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: third1;
    background-position-y: center;
    /* background-position-x: right; */
}

.third2{
    background-image: url("../assets/automotive/DSC00208-Edit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: third2;
    background-position-y: center;
    background-position-x: center;
}

.third3{
    background-image: url("../assets/automotive/DSC00230-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: third3;
    background-position-y: center;
    background-position-x: center;
}

.third4{
    background-image: url("../assets/automotive/DSC00140.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    grid-area: third4;
}

.third5{
    background-image: url("../assets/automotive/DSC00157.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: third5;
    background-position-y: center;
    background-position-x: center;
}

.third6{
    background-image: url("../assets/automotive/DSC00217.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: third6;
    background-position-y: center;
}

.third7{
    background-image: url("../assets/automotive/DSC00138.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: third7;
    background-position-y: center;
}

.third8{
    background-image: url("../assets/automotive/DSC00185.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: third8;
    background-position-y: center;
}
.third9{
    background-image: url("../assets/automotive/DSC00221.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: third9;
    background-position-y: center;
}

@media screen and (max-width: 940px) {
    .photoGrid1{
        /* position: relative; */
        display: grid;
        grid-template-rows: repeat(21, 3fr);
        grid-template-columns: repeat(1, 2fr);
        grid-template-areas: 
        /* "firstMain"  */
        "first2"
        "first2"
        "first2"
        "first1"
        "first1"
        "first1"
        "first3"
        "first3"
        "first3"
        "first4"
        "first4"
        "first4"
        /* "first5" */
        /* "first6" */
        "first7"
        "first7"
        "first7"
        "first8"
        "first8"
        "first8"
        "first9"
        "first9"
        "first9";
        /* width: 100vh; */
        height: 700vh;
    }
    .first4{
        background-position-x: left;
        background-position-y: center;
    }
    .first5{
        background-position: center;
    }
    .first6{
        background-position: center;
    }
    .first7{
        background-position-x: right;
    }
    .first9{
        background-position-y: center;
        background-position-x: center;
    }

    .photoGrid1-2{
        /* position: relative; */
        display: grid;
        grid-template-rows: repeat(18, 3fr);
        grid-template-columns: repeat(1, 2fr);
        grid-template-areas: 
        /* "secondMain"  */
        "second7"
        "second7"
        "second7"
        "second8"
        "second8"
        "second8"
        "second9"
        "second9"
        "second9"
        "second1"
        "second1"
        "second1"
        "second2"
        "second2"
        "second2"
        /* "second3" */
        "second5"
        "second5"
        "second5";
        /* "second6";  */
        /* width: 100vh; */
        height: 600vh;
    }

    .secondSetMain{
        background-position-y: top;
    }
    .second1{
        background-position-y: center;
    }
    .second6{
        background-position-x: center;
    }
    .second9{
        background-position-x: right;
    }
    .second2{
        background-position-y: center;
    }
    .photoGrid1-3{
        /* position: relative; */
        display: grid;
        grid-template-rows: repeat(9, 3fr);
        grid-template-columns: repeat(1, 2fr);
        grid-template-areas: 
        "thirdMain" 
        "third7"
        "third8"
        "third9"
        "third1"
        "third2"
        "third5"
        "third6"
        "third4"; 
        /* width: 100vh; */
        height: 900vh;
    }
  }

  